.exam-item {
  position: relative;
  padding-top: 20px;
  .ant-table-small,
  .ant-btn-sm {
    font-size: 12px !important;
  }
  .question-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; //行数
    -webkit-box-orient: vertical;
  }
  .exam-title {
    position: relative;
    width: 50%;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    font-family:
      PingFangSC-Medium,
      PingFang SC;
    font-weight: 500;
    color: #151515;
    margin-bottom: 8px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 10px;
      background-color: #2baf6a;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
  .exam-btn {
    margin: 0;
    position: absolute;
    right: 30px;
    top: 25px;
    padding-left: 15px;
    font-size: 12px;
    font-family:
      PingFangSC-Regular,
      PingFang SC;
    font-weight: 400;
    color: #545454;
    line-height: 17px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 9px 6px;
    cursor: pointer;

    &.hide-btn {
      background-image: url('http://feed.youshu.cc/readwith/media/picture/627a3e9fae2d5.png');
    }
    &.show-btn {
      background-image: url('http://feed.youshu.cc/readwith/media/picture/627a41c36d732.png');
    }
  }
}
