.live-list-wrap {
  min-width: 1200px;

  img {
      vertical-align: middle;
  }

  .header {
      background-color: #fff;
      width: 100%;
      padding: 24px 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .client-name {
          font-size: 18px;
          font-family: PingFangTC-Semibold, PingFangTC;
          font-weight: 600;
          color: #3a3e42;
          line-height: 23px;
      }

      .action-box {
          display: flex;
          align-items: center;

          .upload-btn {
              font-size: 12px;
              margin-right: 14px;
          }

          .refresh {
              font-size: 12px;
              font-family:
                  PingFangSC-Regular,
                  PingFang SC;
              color: #151515;
              line-height: 14px;
              margin-right: 26px;
              cursor: pointer;

              img {
                  width: 12px;
                  margin-right: 4px;
                  margin-bottom: 2px;
              }
          }

          .teacher-info {
              cursor: pointer;

              .ant-popover-inner {
                  border-radius: 4px !important;
              }

              .ant-popover-inner-content {
                  padding: 0px 0px;
                  cursor: pointer;
              }

              .teacher-avatar {
                  width: 24px;
                  height: 24px;
                  border: 1px solid #ededed;
                  border-radius: 50%;
                  margin-right: 8px;
              }

              .teacher-name {
                  font-size: 12px;
                  font-family:
                      PingFangSC-Medium,
                      PingFang SC;
                  font-weight: 500;
                  color: #151515;
                  line-height: 20px;
                  margin-right: 10px;
              }

              .icon {
                  width: 12px;
                  height: 12px;
              }
          }
      }
  }

  .content {
      padding: 14px 20px 0;

      .liveCard {
          background: #fff;
          border-radius: 8px;
          padding: 0 0 16px;
          margin-bottom: 14px;

          .title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 16px 14px 16px 14px;
              font-size: 14px;
              font-family:
                  PingFangSC-Semibold,
                  PingFang SC;
              font-weight: 600;
              color: #151515;
              line-height: 20px;
              border-bottom: 1px solid #ededed;
              margin-bottom: 16px;

              .title-btn {
                  display: flex;
                  align-items: center;
                  font-size: 12px;
                  font-family:
                      PingFangSC-Regular,
                      PingFang SC;
                  font-weight: 400;

                  .live-type-btn {
                      margin-right: 26px;

                      .btn {
                          display: inline-block;
                          margin-left: 21px;
                          cursor: pointer;
                      }

                      .btn-activity {
                          font-family:
                              PingFangSC-Medium,
                              PingFang SC;
                          font-weight: 500;
                          color: #01c185;
                      }
                  }

                  .live-time {
                      cursor: pointer;

                      img {
                          width: 14px;
                          margin-right: 2px;
                          margin-bottom: 2px;
                      }

                      color: #545454;
                  }
              }
          }

          .card-box {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              padding-left: 14px;

              .card {
                  width: 32%;
                  background: #fafafa;
                  border-radius: 7px;
                  margin-right: 14px;
                  margin-bottom: 14px;
                  padding: 18px 18px 18px 11px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: #1f1f1f;
                  font-size: 12px;
                  line-height: 14px;
                  cursor: pointer;

                  .icon {
                      width: 12px;
                      margin-right: 4px;
                      margin-bottom: 3px;
                  }

                  .card-left {
                      width: calc(100% - 152px);

                      .live-title {
                          font-family:
                              PingFangSC-Semibold,
                              PingFang SC;
                          font-weight: 600;
                          margin-bottom: 12px;
                          text-overflow: ellipsis;
                          overflow: hidden;
                          display: -webkit-box;
                          -webkit-line-clamp: 2;
                          -webkit-box-orient: vertical;
                      }

                      .time {
                          font-size: 10px;
                          font-family:
                              PingFangSC-Regular,
                              PingFang SC;
                          margin-bottom: 4px;
                      }

                      .live-id {
                          display: flex;
                          align-items: center;
                          font-size: 10px;
                          font-family: PingFangTC-Regular, PingFangTC;
                          color: #7d7676;
                          line-height: 12px;

                          span {
                              display: inline-block;
                              background: linear-gradient(270deg, #16d986 0%, #04d189 100%);
                              border-radius: 4px;
                              font-size: 9px;
                              color: #ffffff;
                              padding: 2px 4px;
                              margin-right: 6px;
                          }
                      }
                  }

                  .card-right {
                      background: #d8d8d8;
                      border-radius: 7px;
                      overflow: hidden;
                      margin-left: 10px;
                      width: 142px;
                      height: 80px;
                      text-align: center;

                      img {
                          width: 100%;
                          height: 100%;
                      }
                  }
              }

              .card-footer {
                  width: 100%;

                  div {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      cursor: pointer;
                      font-size: 12px;

                      .icon {
                          width: 10px;
                          margin-left: 3px;
                      }
                  }
              }

              .not-data {
                  padding: 32px 0 49px;
                  width: 100%;
                  text-align: center;
                  font-family:
                      PingFangSC-Regular,
                      PingFang SC;
                  color: #666666;

                  img {
                      display: block;
                      margin: 0 auto;
                      width: 213px;
                      margin-bottom: 14px;
                  }
              }

              .scroll-bottom {
                  position: absolute;
                  bottom: 16px;
                  padding: 10px;
                  font-size: 10px;
                  text-align: center;
                  width: 100%;
                  font-family:
                      PingFangSC-Regular,
                      PingFang SC;
                  color: #666666;
              }
          }
      }

      .all-live {
          min-height: 54vh;
          position: relative;
          padding-bottom: 42px;

          .not-data {
              padding-top: 12vh !important;
          }
      }
  }
}

::-webkit-scrollbar {
  width: 0px;
}
