.lottery-winner-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  .lottery-winner-box {
    box-sizing: border-box;
    width: 340px;
    height: 480px;
    border-radius: 20px;
    padding: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.16));

    .lottery-winner-title {
      color: #151515;
      text-align: center;
      font-family: PingFang SC;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 10px;
    }
    .close-btn {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .lottery-winner-main {
      height: 350px;
      overflow-y: scroll;
      .user-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .avatar {
          display: block;
          width: 36px;
          height: 36px;
          overflow: hidden;
          border-radius: 18px;
          margin-right: 10px;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .nick-box {
          justify-self: flex-start;
          .nickname {
            color: #151515;
            font-family: PingFang SC;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            width: 124px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 0;
          }
          .user-id {
            color: #7d7676;
            font-family: PingFang SC;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            margin-bottom: 0;
          }
        }
        .time-box {
          text-align: right;
          flex: 1;
          color: #ff6f27;
          font-family: PingFang SC;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 0;
        }
      }
    }
    .copy-btn-box {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
