/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

// SCSS变量
$primary-color: #7a2c9e;
$secondary-color: #dd5789;
$accent-color: #fedc2a;
$text-color: white;
$border-radius: 10px;

body {
  position: relative;
  height: 100vh;
  margin: 0;
}

li {
  list-style: none;
}